.burger {
    width: 80px;
    height: 70px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.level, .mid-level {
    width: 65px;
    height: 3px;
    background: black;
    border-radius: 5px;
}

.click.first {
    transform-origin: 0%;
    transform: rotate(45deg);
}

.click .mid-level {
    background: transparent;
    transition: 1s;
}

.click.last {
    transform-origin: 0%;
    transform: rotate(-45deg);
}

